<div class="container">

  <h2 class="my-3">おはなし一覧</h2>

  <nav>
    <div>
      <ul class="nav nav-tabs" id="nav-tab">
        <li class="nav-item">
          <a href="#tab1" class="nav-link text-dark h5 active" data-toggle="tab">All</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link text-warning h5" data-toggle="tab">Happy</a>
        </li>
        <li class="nav-item">
          <a href="#tab3" class="nav-link text-danger h5" data-toggle="tab">Angry</a>
        </li>
        <li class="nav-item">
          <a href="#tab4" class="nav-link text-primary h5" data-toggle="tab">Sad</a>
        </li>
        <li class="nav-item">
          <a href="#tab5" class="nav-link text-success h5" data-toggle="tab">Fun</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="tab-content border rounded border-dark bg-light">
    <div id="tab1" class="tab-pane fade show active" id="nav-all"><%= render 'public/posts/list', posts: @posts %></div>
    <div id="tab2" class="tab-pane fade" id="nav-happy"><%= render 'public/posts/list', posts: @posts.happy %></div>
    <div id="tab3" class="tab-pane fade" id="nav-angry"><%= render 'public/posts/list', posts: @posts.angry %></div>
    <div id="tab4" class="tab-pane fade" id="nav-sad"><%= render 'public/posts/list', posts: @posts.sad %></div>
    <div id="tab5" class="tab-pane fade" id="nav-fun"><%= render 'public/posts/list', posts: @posts.fun %></div>
  </div>

</div>