<!--ヘッダーからの遷移（タブメニュー）-->

<!--お気に入り一覧からの遷移-->
<div>
  <% @posts.each do |post| %>
    <div>
      <div>
        <%= attachment_image_tag post.user, :image, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
        <p><%= post.user.name %></p>
      </div>
      <div>
        <%= post.title %>
        <%= post.emotion %>
      </div>
      <div>
        <%= post.text %>
      </div>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>

<div>
  <h4>タグ一覧</h4>
  <% @tag_list.each do |list| %>
    <div>
      <%= link_to list.tag, posts_path(tag_id: list.id) %>
      <p>(<%= list.posts.count %>)</p>
    </div>
  <% end %>
</div>