<h2>新しいおはなし</h2>

<div>
  <%= form_with model: @post, local: true do |f| %>

    <div>
      <%= attachment_image_tag @post, :image, :fill, 30, 30, fallback: "NoImage.jpg" %>
      <%= f.label :image, '画像' %>
      <%= f.attachment_field :image %>
    </div>

    <div>
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :text, '本文' %>
      <%= f.text_area :text %>
    </div>

    <div>
      <%= f.label :emotion, '気持ち' %>
      <%= f.select :emotion, Post.emotions.keys.to_a, include_blank: "選択して下さい" %>
    </div>

    <div>
      <%= f.label :tag, 'タグ' %>
      <p>
      半角スペースを入力することで複数のタグをつけることができます。<br/>
      例:　動物 子育て 学習
      </p>
      <%= f.text_field :tag %>
    </div>

    <div>
      <%= f.submit "おはなしする" %>
    </div>
  <% end %>
</div>