<div>

  <div>
    <%= attachment_image_tag @user, :image, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
    <%= link_to @user.name, user_path(@user) %>
  </div>

  <div>
    <div>
      <div>
        <%= attachment_image_tag @post, :image, :fill, 50, 70, format: 'jpeg', fallback: "NoImage.jpg" %>
        <%= @post.title %>
        <%= @post.emotion %>
        <%= render 'post_favorites/favorite_button', post: @post %>
        <%= @post.text %>

        <p>タグ：</p>
        <% @post_tags.each do |post_tag| %>
          <%= link_to post_tag, posts_path(tag_id: list.id) %>
        <% end %>

        <% if @post.liked_by?(current_user) %>
          <p>
            <%= link_to post_like_path(@post), method: :delete do %>
              ♥<%= @post.likes.count %>いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_likes_path(@post), method: :post do %>
              ♡<%= @post.likes.count %>いいね
            <% end %>
          </p>

        <%= @post.created_at.strftime('%Y/%m/%d') %>
      </div>

      <% if @post.user.id == current_user %>
      <div>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      </div>
      <% end %>

    </div>

    <div>
      <div>
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows: '1', placeholder: "コメントを書く" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
      <div>
        <%= @post.post_comments.each do |post_comment| %>
          <%= attachment_image_tag post_comment.user, :image, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
          <%= link_to post_comment.user.name, user_path(post_comment.user) %>
          <%= post_comment.comment %>

          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment) %>
          <% end %>
          <!--ポップアップ出してから削除-->
        <% end %>
      </div>
    </div>
  </div>

</div>