<div class="container">

  <div class="row my-4">
    <div class="mx-auto">
      <h2>About</h2>
      <p>
        ラマさんが作った憩いの場、「<span class="text-warning fw-bold">おはなしひろば</span>」へようこそ！<br>
        ここは、誰もが自由におはなしできる場です。<br>
        どうぶつの仲間たちがあなたのおはなしをきいてくれます。<br>
        さぁ、今日あった出来事をおはなししてみましょう！<br>
      </p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-2">
      <%= image_tag 'rabit_1.png', size: '200x200' %>
      <div class="border border-dark p-1">
        <p>
          笑顔がステキなうさぎ。<br>
          楽しいことが大好き。
        </p>
      </div>
    </div>
    <div class="col-3 px-5">
      <%= image_tag 'fox_1.png', size: '200x200' %>
      <div class="border border-dark p-1">
        <p>
          頼れる兄貴的な存在のきつね。<br>
          親身になってはなしを聞いてくれる。
        </p>
      </div>
    </div>
    <div class="col-2">
      <%= image_tag 'rama_1.png', size: '200x200', class: 'pr-4' %>
      <div class="border border-dark p-1">
        <p>
          はなしを聞くのが好きなラマ。<br>
          みんなから慕われてる。
        </p>
      </div>
    </div>
    <div class="col-3 px-5">
      <%= image_tag 'bear_1.png', size: '200x200' %>
      <div class="border border-dark p-1">
        <p>
          やさしいくま。<br>
          悲しい話をきいて、<br>
          一緒に悲しんでくれる。<br>
        </p>
      </div>
    </div>
    <div class="col-2">
      <%= image_tag 'kawauso_1.png', size: '200x200' %>
      <div class="border border-dark p-1">
        <p>
          元気いっぱいなカワウソ。<br>
          楽しいことが大好き。
        </p>
      </div>
    </div>
  </div>

</div>