<div class="container">

  <div class="top d-flex align-items-end">
    <div class="row mx-auto w-75">
      <div class="col-6">
        <div class="ml-5 pl-3">
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-warning btn-lg' %>
        </div>
      </div>
      <div class="col-6 text-right">
        <div class="mb-5 pb-3 mr-3 pr-4">
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    </div>
  </div>

  <div class="about w-75 mx-auto my-5">
    <div class="border border-dark rounded bg-warning">
      <div class="text-center my-5">
        <p class="text-white fw-bold h5">
        ここは、ラマさんが作った憩いの場です。<br>
        今日もどうぶつたちが集まって、仲良くおはなししてます。<br>
        みなさんも今日あったことを自由におはなししてみましょう。
        </p>
      </div>
      <div class="row text-center mb-2 mr-2 px-2">
        <div class="col-2"><%= image_tag 'rabit_1.png', size: '150x150' %></div>
        <div class="col-3"><%= image_tag 'fox_1.png', size: '150x150' %></div>
        <div class="col-2"><%= image_tag 'rama_1.png', size: '150x150' %></div>
        <div class="col-3"><%= image_tag 'bear_1.png', size: '150x150' %></div>
        <div class="col-2"><%= image_tag 'kawauso_1.png', size: '150x150' %></div>
      </div>
      <div class="my-4 text-center">
        <%= link_to "About", about_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>

  </div>

</div>