<h2>新規ユーザー登録</h2>

<%= form_with model: @user, url: new_user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "public/devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, 'ユーザー名' %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name", placeholder: "山田　ラマ" %>
  </div>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@rama.com" %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード(6文字以上)' %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワード（確認用）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%#= render "public/devise/shared/links" %>
