<div class="container my-5">
  <h1 class="text-center pt-5">お問い合わせいただきありがとうございました。</h1>

  <div class="row mt-5 pt-5 mb-3">
    <div class="col-2">
      <%= image_tag 'rabit_1.png', size: '200x200' %>
    </div>
    <div class="col-2">
      <%= image_tag 'fox_1.png', size: '200x200' %>
    </div>
    <div class="col-3 text-center">
      <%= image_tag 'rama_1.png', size: '200x200' %>
    </div>
    <div class="col-2">
      <%= image_tag 'bear_1.png', size: '200x200' %>
    </div>
    <div class="col-3 text-center">
      <%= image_tag 'kawauso_1.png', size: '200x200' %>
    </div>
  </div>

</div>