<div class="container p-3 h-100">

  <div class="row my-5 mx-auto">
    <div class="col-5 border border-dark rounded mx-5 pt-3 px-4 bg-light">

      <div class="row">
        <div class="col-5 py-2 px-3">
          <%= attachment_image_tag @user, :image, fallback: "NoImage.png", size: '70x70', class: 'rounded-circle' %>
        </div>
        <div class="col-7 text-center pt-4">
          <p class="border-bottom"><%= @user.name %></p>
        </div>
        <!--レイアウト調整-->
        <div class="col-4"></div>
        <div class="col-8">
          <p class="border p-2 bg-white"><%= @user.introduction %></p>
        </div>
        <div class="col-12 text-right pt-3">
          <%= link_to "編集", edit_user_path(@user), class: 'btn btn-sm btn-secondary' %>
        </div>
      </div>
    </div>

    <div class="col-5 text-right pr-5">
      <div class="py-3">
        <%= link_to "おきにいりともだち一覧", follow_index_path, class: 'btn btn-warning btn-lg text-white' %>
      </div>
      <div class="py-3">
        <%= link_to "おきにいりおはなし一覧", posts_pick_up_path, class: 'btn btn-success btn-lg' %>
      </div>
      <div class="py-3">
        <%= link_to "Myおはなし一覧", posts_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>

  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>

    <% posts.each do |post| %>
      <div>
        <%= link_to post.title, post %>
      </div>
    <% end %>
  <% end %>

</div>