<div class="container">
  <div class="row">
    <div class="col-6 py-5">
      <div class="border rounded w-75">
        <div class="d-flex flex-row">
          <div class="p-4">
            <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "NoImage.jpg", size: '50x50', class: 'rounded-circle' %>
          </div>
          <p class="h5 pt-4 mt-2"><%= @user.name %></p>
        　<!--お気に入りボタン-->
          <div class="col-7 text-right pt-3">
            <% if current_user.following?(@user) %>
              <%= link_to "★", user_favorite_path(user.id), method: :delete %>
            <% else %>
              <%= link_to "☆", user_favorites_path, method: :post %>
            <% end %>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="border w-50 m-3">
            <p><%= @user.introduction %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <% @posts.each do |post| %>
      <div class="border border-dark">
        <%= attachment_image_tag post, :image, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
        <p><%= post.title %></p>
        <p><%= post.emotion %></p>
        <p><%= post.text %></p>
        <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>