<div>
  <%= attachment_image_tag @user, :image_id, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
  <p><%= @user.name %></p>
  <%= render 'user_favorites/follow_button', user: @user %>
  <p><%= @user.introduction %></p>
</div>

<div>
  <% @posts.each do |post| %>
  <div>
    <%= attachment_image_tag post, :image_id, :fill, 20, 20, format: 'jpeg', fallback: "NoImage.jpg" %>
    <p><%= post.title %></p>
    <p><%= post.emotion %></p>
    <p><%= post.text %></p>
    <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <% end %>
  <%= paginate @posts %>
</div>