<!DOCTYPE html>
<html>
  <head>
    <title>Ramahiroba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

    <header class="shadow-lg">
      <nav class="navbar navbar-expand-lg navbar-light p-4">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "ラマひろば", "/", class: 'text-warning pr-3' %>
            <%= link_to "おはなしする", new_post_path, class: 'text-white' %>
          </div>

        <div class="collapse navbar-collapse">
          <% if admin_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "報告一覧", admin_post_comments_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "ログアウト", admin_sign_out_path, class: 'bg-white text-body' %></li>
            </ul>
          <% elsif user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "マイページ", my_page_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "おはなし一覧", posts_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "おともだち一覧", users_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'bg-white text-body' %></li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "About", about_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: 'bg-white text-body mr-3' %></li>
              <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: 'bg-white text-body' %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
    <%= yield %>
    </main>

    <footer class="pt-3">
      <div class="container">
        <div class="row no-gutters">
          <p class="mx-auto pt-3">
            | <%= link_to "Home", "/", class: 'text-body' %>
            | <%= link_to "About", about_path, class: 'text-body' %>
            | <%= link_to "お問い合わせ", inquiry_new_path, class: 'text-body' %> |
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
