<!DOCTYPE html>
<html>
  <head>
    <title>Ramahiroba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <div>
          <%= link_to "ラマひろば", "/" %>
          <%= link_to "おはなしする", new_post_path %>
        </div>
        <div>
          <% if admin_signed_in? %>
            <ul>
              <li><%= link_to "ユーザー一覧", admin_users_path %></li>
              <li><%= link_to "報告一覧", admin_post_comments_path %></li>
              <li><%= link_to "ログアウト", admin_sign_out_path %></li>
            </ul>
          <% elsif user_signed_in? %>
            <ul>
              <li><%= link_to "マイページ", my_page_path %></li>
              <li><%= link_to "おはなし一覧", posts_path %></li>
              <li><%= link_to "おともだち一覧", users_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <div>
        <p>
          |<%= link_to "Home", "/" %>
          |<%= link_to "About", about_path %>
          |<%= link_to "お問い合わせ", inquiry_new_path %>|
        </p>
      </div>
    </footer>
  </body>
</html>
